
Skip to content
This repository

    Pull requests
    Issues
    Gist

    @deszongithub

1,367
30,307

    11,349

github/gitignore
Code
Pull requests 156
Pulse
Graphs
gitignore/Global/Eclipse.gitignore
3885bb9 on 3 Nov
@tyutyutyu tyutyutyu Update Eclipse.gitignore
16 contributors
@aroben
@harshadsabne
@segfly
@fhemberger
@lfborjas
@leandrodeleite
@tyutyutyu
@sveyret
@gAmUssA
@DenisGorbachev
@pangratz
@defunkt
@arinto
@apetresc
@Danimoth
@Utumno
43 lines (32 sloc) 498 Bytes
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

    Status API Training Shop Blog About Pricing 

    © 2015 GitHub, Inc. Terms Privacy Security Contact Help 


/target/
